<?xml version="1.0"?>
<launch>  
  <!-- Launch the Gazebo world -->
  <include file="$(find rover_gazebo)/launch/playpen.launch" />

  <!-- Load the URDF into the ROS Parameter Server -->
  <param name="robot_description" textfile="$(find rover_gazebo)/urdf/minirover4.urdf" />
  
  <!-- Spawn the robot into Gazebo -->
  <node name="spawn_urdf1" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model robot_model -z 1" />
   
</launch>
